.article {
    margin: 0px 50px;
}

.publish {
    float: right;
    margin-bottom: 10px;
}

.bodyBg_color {
    background-color: #EBEBEB;
}
body div{
    background-color: white;
}
.m_media{
    padding: 15px 10px;
    margin-top: 0;
    border-top: 1px solid #eee;
}
.media-left img{
    margin: auto;
    width: 60px;
}
.page-nav{
    text-align: center;
}
.nav-list{
    margin-top: 100px;
}
.pictrue{
    display: flex;
    align-items: center;
}
.article-info{
    color: #999999;
}
a,a:hover{
    text-decoration: none;
    color: black;
}
a:hover div{
    color: #999999;
}