.article {
    margin: 0px 50px;
}

.publish {
    float: right;
    margin-bottom: 10px;
}

.bodyBg_color {
    background-color: #EBEBEB;
}
body div{
    background-color: white;
}
.m_media{
    padding: 15px 10px;
    margin-top: 0;
    border-top: 1px solid #eee;
}
.media-left img{
    margin: auto;
    width: 60px;
}
.page-nav{
    text-align: center;
}
.nav-list{
    margin-top: 100px;
}
.pictrue{
    display: flex;
    align-items: center;
}
.article-info{
    color: #999999;
}
a,a:hover{
    text-decoration: none;
    color: black;
}
a:hover div{
    color: #999999;
}
.question-tags{
    margin: 10px 0;
}
.question-tag{
    font-size: 14px;
    margin: 5px;
}
.question-tag span{
    margin-right:10px;
}
.abouts a{
    /*color: cornflowerblue !important;*/
}
.abouts li{
    padding: 3px !important;
    font-size: 16px;
    white-space: nowrap;  /*强制不换行*/
    -o-text-overflow: ellipsis;    /* Opera 9-10 */
    text-overflow: ellipsis;  /*文本溢出时,显示省略号 IE, WebKit (Safari, Chrome), Firefox 7, Opera 11*/
    overflow: hidden; /*内容超出,隐藏元素 */
}
.abouts a:hover{
    text-decoration: underline !important;
}