<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/public.css"
          th:href="@{/static/css/public.css}"/>
    <title>模板</title>
</head>
<body class="bodyBg_color">
<div th:replace="nav :: #nav-top"/>

<!--二级评论-->
<div class="collapse" id="reply-panel-1">
    <div class="col-md-12 .col-xs-12 .col-md-12 .col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="../static/assets/image/example.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"></h4>
                        ...
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <form style="padding-bottom:35px;">
                    <div class="form-group">
                        <textarea name="commentContent" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-info publish">回复</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/jquery-3.4.1.min.js"
        th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/static/js/bootstrap.min.js}"></script>

</body>
</html>